.formBox{
    margin:2rem 3rem;
    padding:2rem 10rem;

}
.formBox div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form label{
    margin: 2rem 0 1.3rem 0;
    color:#555;
    font-weight: 500;
}
form input{
    width:50%;
    display: block;
    padding:1.2rem;
    border:#777 solid 0.4px;
    border-radius: 10px;
    background-color:#d3e5f4;
}
select{
    margin:3rem 0 1rem 0;
    width: 50%;
    padding:1.5rem;
    border:#777 solid 0.4px;
    border-radius: 10px;
    background-color:#fff;

    font-size: 1.8rem;
}

.formBox *:focus{
    outline:none;
    box-shadow:0 0 0.2rem 0.5rem rgba(101, 163, 255, 0.8)  !important;
}
.inputNumber{
    width:90%;
    border:#c3c3c3 solid 1px;
}
.inputNumber *:focus{
    
    border:#c3c3c3 solid 1px !important;
}
