*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    font-family:"Noto Sans TC", sans-serif;
    line-height:1;
    font-weight:400;
    color:#555;
    font-size: 16px;
    background-color: #fff;

    /* overflow-x: hidden; */

}
a{
    text-decoration: none;
}
.nav{
    background-color:#D9D9D9;
    padding:1.2rem;
    display: flex;
    justify-content: end;

    position: fixed;
    width:100%;
    top:0;
}
.mainNav{
    background-color:#D9D9D9;
    padding:1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: fixed; */
    width:100vw;
    /* top:0; */

    font-size: 1.6;
}
.mainNavitem{
    display: flex;
    gap:2rem;
}
.mainNavBtn:link,.mainNavBtn:visited{
    background-color:#ADD1F1;
    border-radius: 10rem;
    color:#fff;
    font-weight: 500;
    padding:1rem 1.2rem;
    font-size:1.6rem;
    transition:all 0.3s;
}
.mainNavBtn:hover,.mainNavBtn:active{
    background-color: #3C7AB0;
    transform: scale(1.2);
}

.formBtn{
    background-color:#FF5F05;
    border:none;
    border-radius: 1.5rem;
    color:#fff;
    font-weight: 500;
    padding:1.2rem 2.4rem;
    font-size: 2rem;
    transition:all 0.3s;
    
    margin-top: 4rem;
}
.formBtn:hover,.formBtn:active{
    transform: scale(0.9);
    box-shadow: 0 0 0.5rem 0.5rem #ffb85a;
}
.Btn:link,.Btn:visited{
    background-color:#ADD1F1;
    border-radius: 10rem;
    color:#fff;
    font-weight: 500;
    padding:1.2rem 2.4rem;
    font-size: 2rem;
    transition:all 0.3s;
} 
.Btn:hover,.Btn:active{
    background-color: #3C7AB0;
    transform: scale(1.2);
}
.loginBtn:link,.loginBtn:visited{
    background-color:#ADD1F1;
    border-radius: 10rem;
    color:#fff;
    font-weight: 500;
    padding:1.2rem 2.4rem;
    font-size:2.8rem;
    transition:all 0.3s;
}
.loginBtn:hover,.loginBtn:active{
    background-color: #3C7AB0;
    transform: scale(1.2);
}
.navBtn{
    margin-right:2.8rem;
}
.menu{
    background-color:#3C7AB0;
    padding:0rem 2.4rem;
    position: fixed;
    bottom: 0;
    width:100vw;

    display: flex;
    justify-content: space-around;
}
.menubtn:link,.menubtn:visited{
    display: flex;
    align-items: center;
    color:#fff;
    
    padding:0.5rem 1.5rem;
    font-size: 1.6rem;
}
.menubtn:hover,.menubtn:active{
    background-color: #ADD1F1;
}
.menuicon{
    width:3rem;
}
.sectionMain{
    background-image:linear-gradient(rgba(255, 255, 255, 0.98),rgba(255, 255, 255, 0.98)) ,url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100vw;
    height:100vh;

    margin-top:8rem;
}



