.recordHeader{
    padding:0 2rem 2rem 2rem;
    border-bottom:1px solid #666;

}
.recordform{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items:baseline;
    justify-content: center;
}
.recordform input{
    display: inline;
} 
.recordform label{
    font-size: 2rem;
    margin-right: 1rem;
}
.recordselect{
    padding:1.2rem;
}
.formBtnBox{
    display: flex;
    justify-content: center;
}
.recordBtn{
    margin-top:1rem;
}
.recordBtn{
    background-color:#FF5F05;
    border:none;
    border-radius: 1.5rem;
    color:#fff;
    font-weight: 500;
    padding:1.2rem 2.4rem;
    font-size: 2rem;
    transition:all 0.3s;
    
    margin-top:2rem;
}

.recordBtn:hover,.recordBtn:active{
    transform: scale(0.9);
    box-shadow: 0 0 0.5rem 0.5rem #ffb85a;
}

.recordtable{
    width:100%;
    border:none;
    padding:1rem;
    border-collapse: collapse;
    background-color: rgb(249, 242, 234);
}
.recordtable thead{
    background-color: #cee3f7;
    color:#777;
}
.recordtable th,td{
    padding:2rem;
    text-align: center;
    font-size:1.8rem;
}
.recordtable td{
    border-bottom: rgba(184, 184, 184, 0.5) solid 1px;
}
/*PopUp */
.diaone{
    border:none;
    background:none;
    width:100%;
    top:50%;
    left:55%;
    transform: translate(-50%,-50%);
    overflow-y:scroll;
    
    /* margin:2rem; */
}
.diaone::backdrop{
    background-color: rgba(167, 167, 167, 0.8);
    backdrop-filter:blur(3px);
}
.recordPopUpBox{
    width:80%;
    position: relative;
    margin-bottom: 3rem;

    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.recordCloseicon{
    position: absolute;
    top:0rem;
    right:25%;
    font-size:4.5rem;
    color:#fff;
}
.recordCloseicon:hover{
    color:#FF5F05;
}
.recordPopContainer{
    background-color:#fff;
    padding:2rem;
    margin-top:3rem;
    position: relative;
}
.recordPoptitle{
    display:flex;
    gap:2rem;
    color:#fff;
    font-weight: 500;
    font-size: 1.8rem;
}
.cashier{
    background-color:#ADD1F1;
    padding:1.2rem 1.5rem;
    border-radius: 10rem;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    top:-2rem;
    left:50%;
    transform: translateX(-50%);
}
.tablebox{
    margin:2rem 0;
    
    height:30rem;
    overflow-y: scroll;
}
/* scrollBar style */
.tablebox::-webkit-scrollbar{
    width:10px;
}
.tablebox::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.tablebox::-webkit-scrollbar-thumb {
    background: #FF5F05;
}
.checkoutListTable::-webkit-scrollbar-thumb:hover {
    background: #cc4c04;
}

.tablebox table{
    border-collapse: collapse;
    white-space: nowrap;
}
.tablebox th,.tablebox td{
    text-align: center; 
}
.recordlefticon,.recordrighticon{
    color:#fff;
    font-size:5rem;
    background-color: none;
    z-index: 100;
}
button{
    background-color: none;
    background: none;
    border: none;
}

.lefticonBox{
    position: absolute;
    top:25rem;
    left:25%;
}
.righticonBox{
    position: absolute;
    top:25rem;
    right:25%;
}