/******************/
/* 88*16=1400px*/
/******************/
@media (max-width:88em){
    .recordCloseicon{
        right:15%;
    }
    .lefticonBox{
        left:15%;
    }
    .righticonBox{
        right:15%;
    }
}
/******************/
/* 72*16=1150px*/
/******************/
@media (max-width:72em){
    .recordCloseicon{
        right:10%;
    }
    .lefticonBox{
        left:10%;
    }
    .righticonBox{
        right:10%;
    }
}
/******************/
/* 61*16=970px平板橫式*/
/******************/
@media (max-width:61em){
    .sectionOrder {
        grid-template-columns: 1fr;
    }
    .orderPage {
        height:30rem;
        padding:1rem 2rem;
    }
    .orderList{
        height:40rem;
        margin-bottom:20rem;
        padding:3rem 0;
    }
    .orderBtnBox {
        margin-bottom: 1rem;
    }
    .orderOption {
        font-size:1.6rem;
    }
    table {
        overflow: scroll;
    }
    /* historyRecord */
    .recordform{
        padding-top: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    /* popUp */
    .recordCloseicon{
        right:5%;
    }
    .lefticonBox{
        left:5%;
    }
    .righticonBox{
        right:5%;
    }
}
/******************/
/* 54*16=820px 平板直式*/
/******************/
@media (max-width:54em){
    table {
        overflow: scroll;
    }
    .paymentBox {
        margin-bottom:2rem;
        padding:1rem;
    }
    /* shiftListPage */
    .shiftTableBox{
        width:80%;
    }
    /* historyRecord */
    .recordform{
        grid-template-columns: 1fr;
    }
    .recordform div{
        margin-bottom: 1rem;
    }
    .recordlabel{
        display: block;
        font-size:1.4rem;
        margin:0.5rem 0 0.5rem 0;
    }
    select{
        margin:0
    }
    .recordtableBox{
        margin-bottom: 10rem;
    }
    .recordtable{
        overflow-x: auto;
    }
    .recordtable th,td{
        padding:1rem;
        text-align: center;
        font-size:1.8rem;
    }
    /* popUp */
    .recordPopUpBox{
        width:100%;
    }
    .tablebox{
        font-size: 1.6rem;
    }
    .diaone{
        left:50%;
        width:100%;
    }
    .recordCloseicon{
        right:0;
    }
    .lefticonBox{
        left:0
    }
    .righticonBox{
        right:0
    }
    

}
/******************/
/* 32*16=500px 手機*/
/******************/
@media (max-width:32em){
    html{
        font-size:50% ;
    }
    .loginBtn:link,.loginBtn:visited{
        padding:2.6rem 4rem;
        font-size:2.8rem;
    }
    .formBox {
        padding:1.5rem 4rem;
    }
    form input {
        width:100%;
    }
    select {
        width:100%;
        margin:0 0 1rem 0;
    }
    /* index */
    
    .orderPage {
        height:30rem;
    }
    .orderList{
        height:auro;
        padding:3rem 0;
    }
    .orderBtn {
        padding:0.5rem 
    }
    table {
        overflow: scroll;
    }
    th{
        font-size: 1.6rem;
        padding:0.5rem 0.8rem;
    }
    th, td {
        font-size: 1.6rem;
    }
    .paymentBox {
        margin-bottom:22rem;
        padding:1rem;
    }
    .infoModal {
        width:90%;
    }
    .menubtn{
        flex-direction: column;
    }
    menuitem{
        font-size: 1rem;
    }
    .checkouttittle{
        font-size:2.4rem;
    }
    .shiftTitle{
        font-size:3rem;
    }
    .shiftListHeader {
        margin: 1rem 2rem 3rem 2rem;
        gap:1.2rem;
    }
    .Btn:link, .Btn:visited{
        padding:1rem 1.8rem;
        font-size: 1.6rem;
    }
    .mainNavitem{
        flex-direction: column;
    }
    /* historyRecord */
    .recordtableBox{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width:100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
   
    .recordtable{
        width:100%;
        white-space: nowrap;  
        margin-left:3rem; 
    }
    .recordtable th,td{
        font-size:1.5rem;
    }
    
    /* popUp */
    .recordCloseicon{
        right:0;
    }
    .lefticonBox{
        left:-0;
    }
    .righticonBox{
        right:0;
    }
    
}
/******************/
/* 24*16=380px 小手機*/
/******************/
@media (max-width:24em){
    .Btn:link, .Btn:visited{
        padding:0.8rem 1.5rem;
    }
    .sectionshiftList{
        margin-bottom:2.8rem;
    }
    .shiftselect option {
        font-size:1.8rem;
    }
    /* popUp */
    .recordCloseicon{
        right:-1rem;
    }
    .lefticonBox{
        left:-1rem;
    }
    .righticonBox{
        right:-1rem;
    }
    .recordform input{
        width:85%;
    }
}