body{
    position: relative;
}

.shiftFormBox{
  position: absolute;
  top:50%;
  right:50%;
  transform: translate(50%,50%);
  width: 40%;
}

.shiftform label{
    font-size: 2rem;
}

.dateBox{
    border:#888 solid 1px;
    padding:1rem;
    margin:1rem 0 2rem 0 ;
}
.date{
    font-size: 1.6rem;
    color:#888;
}
.shiftselect{
    width:100%;
    margin:1rem 0 1rem 0;
    background-color:#c7e0f6;
}
.shiftselect option{
    background-color:#e3effa;
    font-size:2.6rem;
    color:#555;
}
.shiftselect *:focus{
    outline:none;
    box-shadow:0 0 0.2rem 0.5rem rgba(218, 250, 75, 0.8)  !important;
} 
.formBtnBox{
    display: flex;
    justify-content: center;
    margin-top:4rem;
}